aside.sidebar
  .sidebar__content
    nav.sidebar__list
      pre=JSON.stringify(parseNavItems())
      //- each guide, index in parseNavItems()
      //-   if guide.filename == '0-index.html.md'
      //-     if index > 0
      //-       | </ul>
      //-     | <h#{guide.relativePath.split('/').length}> 
      //-     a(href="/#{guide.url}")=guide.title
      //-     | </h#{guide.relativePath.split('/').length}>
      //-     | <ul>
      //-   else
      //-     li: a(href="/#{guide.url}")=guide.title +" "+document.url
      //- | </ul>
